#editor {
  width: 100%;
  height: 500px;
}

#toolbar {
  width: 100%;
}

.ql-container {
  font-family: "Microsoft YaHei", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", SimSun, sans-serif;
  font-size: 14px;
}

/* Set dropdown font-families */
#toolbar .ql-font span[data-label="微软雅黑"]::before {
  font-family: "Microsoft YaHei", "微软雅黑";
}
#toolbar .ql-font span[data-label="宋体"]::before {
  font-family: SimSun, "宋体";
}
#toolbar .ql-font span[data-label="arial"]::before {
  font-family: arial;
}

/* Set content font-families */
.ql-font-wsYaHei {
  font-family: "Microsoft YaHei", "微软雅黑";
}
.ql-font-songTi {
  font-family: SimSun, "宋体";
}
.ql-font-arial {
  font-family: arial;
}
